<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SearchBar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf&#xD;
  &lt;string&gt;Entypo.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;EvilIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Feather.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Brands.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Regular.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Solid.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Foundation.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Ionicons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;MaterialIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;MaterialCommunityIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;SimpleLineIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Octicons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Zocial.ttf&lt;/string&gt;</string>
		<string>FontAwesome.ttf&#xD;
  &lt;string&gt;Entypo.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;EvilIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Feather.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Brands.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Regular.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;FontAwesome5_Solid.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Foundation.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Ionicons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;MaterialIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;MaterialCommunityIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;SimpleLineIcons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Octicons.ttf&lt;/string&gt;&#xD;
  &lt;string&gt;Zocial.ttf&lt;/string&gt;</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
